<nav style="margin:auto;" class="navbar navbar-expand-lg bg-dark">
    <a style="color: white;" class="navbar-brand" href="#">DANGE HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle-navigations">
        <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link-active" aria-current="page" routerLink="/docdash" style="color: white; margin-right: 20px;" >Back</a>
            </li>
        </ul> 
    </ul>
    </div>
</nav>

<div class="container" style="margin-inline-start: 10px;">
    <label>Id : <b>{{patient.id}}</b></label><br>
    <label>Name : <b>{{patient.name}}</b></label><br>
    <label>Age : <b>{{patient.age}}</b></label><br>
    <label>Blood Group : <b>{{patient.blood}}</b></label><br>
    <label>Dose : <b>{{patient.dose}}</b></label><br>
    <label>Fees : <b>{{patient.fees}}</b></label><br>
</div>